/* NavBar md*/
.nav-md{
    min-width: 100vw;
    text-align: center;
    background-color: #FFFFFF;
    border-top: 1px solid #F0F2F5 ;
    height: fit-content;
    position: fixed;
    right: 0;
    left: 0;
    bottom:-3px;
  

    z-index: 3;
}
.nav-link-md a{
display: flex;
flex-direction: column;

}
.nav-link-md a{
text-decoration: none;
color: #000;
font-size: .8rem;
font-weight: 400;
padding: 8px 0;

}
.icon-nav-md{
font-size: 1.3rem;
}
/*active*/
.active-bottom-nav{
    background-color: #427AA9;
}
.active-bottom-nav>a>span{
    color: #FFFFFF;
}